<div class="container"
    [ngClass]="{'jump-in-from-left':state.navigateType === 'characterToRandom','jump-in-from-right':state.navigateType === 'randomToCharacter'}">
    <div class="back" routerLink="/select-random"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <div class="title">
        <h1>MA SÓI</h1>
    </div>
    <div class="character-container">
        <div class="character-container__image">
            <img class="needZoom" src="{{currentCharacter.image || ''}}" alt="">
        </div>
        <div class="character-container__name">
            <h1>{{currentCharacter.name || ''}}</h1>
            <span class="needZoom">{{currentCharacter.role || ''}}</span>
        </div>
    </div>
</div>