/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    background: rgba(255,255,255,0.85);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px 20px;
    overflow: hidden;
    gap: 20px;
}

@keyframes jump-in-from-left {
    from {
        opacity: 0;
        left: -50%;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes jump-in-from-right {
    from {
        opacity: 0;
        left: 100%;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes scale {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.jump-in-from-left {
    animation: jump-in-from-left 0.5s alternate 1;
}

.jump-in-from-right {
    animation: jump-in-from-right 0.5s alternate 1;
}

.scale {
    animation: scale 1s alternate 1;
}
